@font-face {
    font-family: 'Career';
    src: url('fonts/Career.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erbarre';
    src: url('fonts/Erbarre.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erbarre';
    src: url('fonts/ErbarreBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alfphabet';
    src: url('fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bagnard';
    src: url('fonts/bagnard-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturySchoolbook';
    src: url('fonts/centuryschl-roma-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturySchoolbook';
    src: url('fonts/centuryschl-ital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gil';
    src: url('fonts/TGL12096.01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
