/* V A R I A B L E S */

:root {
    --font-size: 1.6vmax;
    --line-height: 1.2em;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}


/* T A G S */

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-size: 1.6vmax;
    line-height: 1.2em;
    font-family: Erbarre;
    background: yellow;
}

body::-webkit-scrollbar {
    /*width: 5em;*/
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
}

a {
    text-decoration: none;
    color: inherit;
}

section a[href^="mailto"] {
    text-decoration: underline;
}

h2,
h3,
p,
blockquote {
    max-width: 48vmax; /* 30 * font-size */
    min-width: 8vmax; /* 5 * font-size */
    margin: auto;
    position: relative;
    z-index: 10;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

svg path {
    vector-effect: non-scaling-stroke;
    stroke-width: 5px;
}

/* I D s  +  C L A S S e s*/
section.page.home .question h2 {
    font-family: Career;
    font-size: 4.8vmax; /* 2 * font-size */
    line-height: 1em;
}

section.page.home .question p {
    font-size: 1.2vmax; /* 0.75 * font-size */
    line-height: 1.2em;
}

section.page.home .question h2,
section.page.home .question p {
    /*max-width: 35vw;*/
    /*max-width: calc(15 * 1.6vmax);*/
}

section.page {
    /*outline: 1px solid blue;*/
    width: 100vw;
    height: 100vh;
    position: relative;
    /*display: grid;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

@media (min-width: 767px) {
    section.page {
        position: absolute;
    }

}



/* I L L U S T R A T I O N S */
section.illu {
    position: absolute;
    z-index: -1000;
    height: 20%;
    bottom: 0;
}

section.illu img {
    height: 100%;
}

.img-path{
    position:absolute;
    width:100vw;
    height:100vh;
    display:grid;
    align-items: center;
    text-align:center;
}
.img-path img{
    margin: 0 auto;
    max-height:100%;
    display:block;
}

/* Q U E S T I O N S */

section.question {
    font-family: Alfphabet;
    font-size: 3.2vmax; /* 2 * font-size */
    line-height: 1em;
    /*padding: 250px 1.2em;*/
    /*padding: calc(2 * 1.2em);*/
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    /*top: 2em;*/
}

.tic svg {
    position: absolute !important;
    top: 0% !important;
    left: 0 !important;
    width: 130%;
    height: 130%;
}
/*Je le fais dans le js: bug de superposition qui désactive les liens des bulles réponses
/*
section.page-question section.question .bubble-content:hover {
    position: relative;
    z-index: 10000;
}
*/
section.page-question section.question .bubble-content.active {
    position: relative;
    z-index: 10000;
}
section.question h2 {
    margin-bottom: 0.25em;
}

section.question div.detail {
    font-size: 1.6vmax;
    line-height: 1.2em;
}


/* T A C */

.tac {
    position: absolute;
    z-index: 100;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

div.tac:hover {
    transform: scale(1.15);
    z-index: 10000;
}

.tac svg {
    position: absolute !important;
    /*top: -50% !important;*/
    /*left: -50% !important;*/
    top: 0 !important;
    left: 0 !important;
    width: 160%;
    height: 140%;
}

div.bubble-content {
    padding: 2.1em; /* 1.75 * line-height */
}

.tac a:not(.navig-link) {
    text-decoration: underline;
}



/* A N S W E R S */

section.answers {
    position: absolute;
    top: 0;
    left: 0;
}

div.answer {
    font-family: Gil;
    box-sizing: border-box;
    text-align: center;
    /*max-width: fit-content;*/
    /*max-width: -moz-fit-content;*/
    /*max-height: fit-content;*/
    /*max-height: -moz-fit-content;*/
    /*min-width: calc(10 * 1.2em);*/
}

div.answer .bubble-content {
    max-width: 15vmax;
}

div.answer a.navig-link {
    display: block;
}

div.answer h3 {
    line-height: 1em;
    margin-bottom: 0.25em;
}




/* CHAMP TEXTE */

div.answer:hover div.answer--form {
    display:grid;
}

div.answer[data-error]:after {
    z-index: 10000;
    position: absolute;
    left: 1.6vmax;
    bottom: 0;
    width: 100%;
    color: red;
    background-color: white;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

div.answer[data-error="too much chars"]:after {
    content: "Texte trop long…"
}
div.answer[data-error="empty field"]:after {
    content: "Merci d'entrer une valeur."
}
div.answer[data-error="wrong type"]:after {
    content: "En chiffres svp."
}
div.bubble-content + div.answer--form{
    display:none;
}

div.answer--form {
    font-family: CenturySchoolbook;
    width: 200px;
    height: 200px;
    z-index: 1000;
    position: relative;
    top: -2em;
    left: -2em;
    /*background-image: url("/site/templates/images/phyl-a3.svg");*/
    background-size: contain;
    background-repeat: no-repeat;
    /*display: none;*/
    display: grid;
    align-items: center;

}
div.answer--form form{
    z-index:100000;
    position: absolute;
    /*left: 20%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* G S M */
@media only screen and (max-width: 767px) {
    div.answer--form form{
        top: 10%;
    }
}

div.answer--form textarea {
    border: 0;
    background: transparent;
    width: 75% !important;
    margin-left: -25%;
    min-width: 70px;
    font-family: CenturySchoolbook;
    font-size: 1.6vmax;
    line-height: 1.2em;
    outline: 0;
    text-align: center;
}


div.answer--form input {
    background: transparent;
    font-family: Gil;
    font-size: 1.6vmax;
    color: black;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: 3px solid black;
    border-radius: 100%;
    padding: 8px;
    width: fit-content;
}

div.answer--form input:hover {
    cursor: pointer;
    transform: scale(1.25);
}

div.answer--form textarea:focus + input,
div.answer--form input:hover {
    display: initial;
}

div.answer div.detail {
    font-family: Erbarre;
    font-size: 0.65em;
    line-height: 1em;
}
div.focus{
   transform: scale(1.25);
   transform-origin:top left;

}
div.focus:hover{
    transform:scale(1.45) translate(-5%, -5%);


}
div.focus svg {
    overflow:visible;
    /*transform: scale(1.25);
    height: 160%;*/
}
div.focus svg path {
    stroke-width: 4px;
}

div.focus .bubble-content {
    /*transform: scale(1.25);*/
    /*transform-origin: top left;*/
    /*color: red;*/
}


div.answer:not([data-maxlength]) div.answer--form {
    width: 70vw;
    height: 70vh;
    top: 3em;
}

div.answer--form div.bubble-content {
    max-width: initial;
    padding: 2.5em;
}

div.answer:not([data-maxlength]) div.answer--form div.bubble-content {
    position: relative;
    box-sizing: border-box;
}

div.answer:not([data-maxlength]) div.answer--form form {
    width: 100%;
    top: 1.2em;
    left: 0;
}

div.answer--form textarea:not([maxlength]) {
    margin-left: 0;
    height: 23vh;
    width: 23vw !important;
    padding: 1.2em;
    font-size: 0.75em;
    line-height: 1.2em;
}

div.answer--form textarea:not([maxlength])::-webkit-scrollbar {
    width: 5px;
}

div.answer--form textarea:not([maxlength])::-webkit-scrollbar-thumb {
    background-color: black;
}

/* G S M */
@media only screen and (max-width: 767px) {
    div.answer:not([data-maxlength]) div.answer--form div.bubble-content {
        width: 100% !important;
    }
    div.answer--form textarea:not([maxlength]) {
        font-size: 1.5em;
        height: 18vh;
        width: 50%;
    }
    div.answer--form textarea {
        font-size: 1.5em;
    }
    div.answer[data-maxlength] div.answer--form form {
        flex-direction: row;
        margin: 10%;
    }
}









/* N E W S L E T T E R */
div.answer div.newsletter--form {
    position: relative;
}

div.answer div.newsletter--form input {
    border: 0;
    background: none;
    font-size: 1.6vmax;
    font-family: Erbarre;
    outline: 0;
}

div.answer div.newsletter--form input[type=submit] {
    display: none;
    background-image: url("/site/templates/images/phyl-a3.svg");
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -2em;
    right: -3em;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

div.answer div.newsletter--form input[type=text]:focus + input[type=submit],
div.answer div.newsletter--form input[type=submit]:hover {
    display: block;
}

div.answer div.newsletter--form input[type=submit]:hover {
    transform: scale(1.25);
}



/* A R T I C L E S */

/*
<h3>main title</h3>
<h4>chapo</h4>
<h5>intertitle</h5>
<p>body</p>
 */

div.article,
div.témoignage {
    border-radius: 0.5em;
    padding: 0.6em; /* 0.5 * line-height */
    /*width: calc(6 * 1.2em);*/
    /*height: calc(6 * 1.2em);*/
    overflow: hidden;
    color: black;
    background-color: white;
    text-align: left;
    font-family: CenturySchoolbook;
    border: 5px solid black;
}

div.témoignage .bubble-content h3:before {
    content: "Témoignage";
    font-family: Erbarre;
    display: block;
    font-style: normal;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

div.article .bubble-content,
div.témoignage .bubble-content {
    padding: initial;
    min-width: 12.8vmax; /* 8 * font-size */
}

div.article h3,
div.témoignage h3 {
    font-weight: normal;
    font-size: 1.2vmax; /*0.75 * font-size */
    line-height: 1.1em;
    font-family: Bagnard;
}

div.témoignage h3 {
    font-family: CenturySchoolbook;
    font-style: italic;
}

div.article .detail {
    display: none;
}


section.page-témoignage::-webkit-scrollbar,
section.page-article::-webkit-scrollbar {
    width: 5px;
}

section.page-témoignage::-webkit-scrollbar-thumb,
section.page-article::-webkit-scrollbar-thumb {
    background-color: black;
}

section.page-témoignage,
section.page-article {
    font-family: CenturySchoolbook;
    height: 100vh;
    overflow: auto;
    text-align: left;
}

section.page-témoignage .question svg,
section.page-article .question svg {
    display: none;
}

section.page-témoignage .question div.bubble-content,
section.page-article .question div.bubble-content {
  width: 48vmax; /* 30 * font-size */
  margin: auto;
  background-color: white;
  margin-top: 8vmax; /* 5 * font-size */
  margin-bottom: 8vmax; /* 5 * font-size */
}

section.page-témoignage .question div.bubble-content {
    width: 40vmax; /* 20 * font-size */
    padding: 1.2em;
}

section.page-témoignage .question div.detail,
section.page-article .question div.detail {
    margin: 0 auto;
    width: 23em;
    padding-bottom: 5em;
}

section.page-témoignage .question div.detail {
    width: auto;
}

section.page-témoignage .question h2:before {
    content: "Témoignage";
    font-family: Erbarre;
    display: block;
    font-style: normal;
    text-decoration: underline;
    font-size: 0.5em;
}

section.page-article .question h2 {
    margin-bottom: 1em;
}

section.page-témoignage .question h2 {
    font-family: CenturySchoolbook;
    text-align: left;
}

section.page-témoignage .question h3,
section.page-article .question h3 {
    font-family: Gil;
    font-size: 3.2vmax; /* 2 * font-size */
    /*z-index: 11;*/
    margin-bottom: 1.6vmax;
    padding-top: 4.8vmax; /* 3 * font-size */
    text-align: initial;
}

section.page-témoignage .question h4,
section.page-article .question h4 {
    font-family: Bagnard;
    font-size: 1.2vmax; /*0.75 * font-size */
    line-height: 1.2em;
    text-align: initial;
}

section.page-témoignage .question h5,
section.page-article .question h5 {
    font-family: Gil;
    font-size: 1.2vmax; /*0.75 * font-size */
    line-height: 1.2em;
    margin-top: 1.2em;
}

section.page-témoignage .question p,
section.page-article .question p {
    font-family: CenturySchoolbook;
    text-align: left;
    /*width: 70%;*/
    margin: 0 auto;
    margin-bottom: 0.8vmax;
    font-size: 1.1vmax;
    line-height: 1.2em;
}

section.page-témoignage .question blockquote p,
section.page-article .question blockquote p {
    font-size: 2.2vmax;
    font-family: Erbarre;
    font-weight: bold;
    line-height: 0.95em;
    margin: 0.95em 12.5%;
}

section.page-témoignage .question div.detail p {
    /*font-style: italic;*/
}

section.page-article .question p a {
  border-bottom: 1px dotted grey;
  padding-bottom: -2px;
}

section.page-article .question p a:hover {
}

section.page-article .question p img {
  width: 100%;
}

section.page-témoignage .question small,
section.page-article .question small {
    font-family: Erbarre;
}
/*
section.page-témoignage .answers,
section.page-article .answers {
    bottom: 5em;
    top: initial;
}
*/



/* M E N U */


div.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 8px;
  padding-top: 8px;
  font-family: 'Erbarre';
}

div.menu:hover,
#nav:hover {
  z-index: 10000;
}

div.menu h1 {
  /*display: inline-block;*/
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  outline: 3px solid black;
  background-color: white;
  padding: 8px;
}

div.menu h1:hover {
    background-color: #FFAAAA;
}

img.nav-logo{
  width: 100px;
}

div.menu h1 span{
  display: block;
  line-height: 1em;
  margin-top: 6px;
}

nav {
  display: none;
  background-color: white;
  outline: 3px solid black;
  margin-top: 3px;
  font-size: 18px;
  line-height: 20px;
}

nav ul#nav--main {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

nav ul li {
    outline: 1px solid black;
}

nav ul li a {
    padding: 8px;
    display: block;
    height: 100%;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: #FFAAAA;
}

nav ul#nav--main li:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

nav ul#nav--main li:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 6;
}

nav ul#nav--main li:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav ul#nav--main li:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

nav ul#nav--main li:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

nav ul#nav--main li:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
}

nav a#contact--link {
    height: initial;
}

nav div#contact--content {
    display: none;
}

nav ul#nav--secondary {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    text-align: center;
    background-color: aliceblue;
    margin-top: 1px;
}

nav ul#nav--secondary li:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

nav ul#nav--secondary li:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav ul#nav--secondary li:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 9px;
}

nav ul#nav--secondary li:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 9px;
}

nav ul#nav--secondary li:nth-child(5) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 9px;
}

nav #colophon--content {
    /*display: none;*/
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 0;
}

nav #colophon--content ul {
    display: flex;
    flex-wrap: wrap;
}

nav #colophon--content li {
    padding: 8px;
    flex-grow: 1;
}

nav #colophon--content li a {
    padding: 0 3px;
    display: inline-block;
}

nav #colophon--content li:nth-child(1) {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid black;
}

nav textarea,
nav input {
    font-family: Erbarre;
    font-size: 1.6vmax;
    /*background: none;*/
    background-color: aliceblue;
    outline: 2px solid black;
    border: 0;
    color: black;
    font-size: 18px;
    padding: 0.25em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

nav input[type=text] {
    /*border-top: 3px solid black;*/
}

nav input:hover {
    cursor: pointer;
    background-color: #FFAAAA;
}


/* H O M E */

#social {
    z-index: 10000;
    font-size: 0.75em;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 9em;
    text-align: right;
}

#social a {
    font-family: Gil;
    padding: 0.5em;
    text-align: center;
    line-height: 1em;
    display: inline-block;
    border: 3px solid black;
    background-color: white;
    border-radius: 100%;
    max-width: 5em;
}

#social a:hover {
    background-color: #FFAAAA;
}

#social a:last-child {
    top: 8px;
    position: relative;
}





/* G S M */
@media only screen and (max-width: 767px) {
    :root {
        --font-size: 2.5vmax;
        --line-height: 1.2em;
    }
    html, body {
        overflow: auto;
        height: initial;
        width: initial;
    }
    main {
        width: initial;
        height: initial;
        position: initial;
    }

    nav{
        min-width: 92%;
    }

    .page {
        /*display: flex;*/
        /*flex-direction: column;*/
        padding-bottom: 5em;
    }

    .answers {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    div.menu h1 span {
        display: initial;
        font-size: 22px;
    }

    .tic svg,
    .tac svg {
        top: -5px !important;
        left: -10px !important;
    }

    svg path {
        stroke-width: 3px;
    }

    div.focus svg path {
        stroke-width: 3px;
    }


    div.menu {
        width: calc(100% - 16px);
        text-align: center;
    }

    .nav-logo {
        width: 70px;
    }

    div.menu h1 {
        font-size: 17px;
        line-height: 12px;
    }

    nav {
        display: none;
    }

    nav ul#nav--main,
    nav ul#nav--secondary {
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: initial;
    }

    nav ul#nav--main li:nth-child(1) {
        grid-column-end: 2;
    }

    nav ul#nav--main li:nth-child(2) {
        grid-column-start: 2;
    }

    nav ul#nav--secondary li:nth-child(1) {
        grid-column-end: 3;
        padding-top: 9px;
    }
    nav ul#nav--secondary li:nth-child(2) {
        grid-column-start: 1;
    }
    nav ul#nav--secondary li:nth-child(6) {
        display: none;
    }

    #social {
        top: initial;
        bottom: 15px;
        right: 15px;
        width: 5em;
        text-align: center;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #social a {
        width: -moz-min-content;
        width: min-content;
    }

    #social a:first-child {
        order: 4;
    }

    #social a:last-child {
        position: initial;
    }

    main {
        margin-top: 5em;
    }

    section.question {
        /*position: static;*/
        /*margin-top: 2em;*/
    }

    section.question {
        margin-top: 2.4em);
    }

    /*section.page:first-child .question h2 {*/
        /*font-size: 1.3em;*/
        /*line-height: 1em;*/
        /*max-width: none;*/
    /*}*/


    section.page {
        display: flex;
        flex-direction: column;
        height: initial;
        overflow: hidden;
    }

    section.question h2{
  		margin-bottom: 0.8vmax;
  		font-size: 1.2em;
  		line-height: 1em;
  	}
    section.page.home .question p {
        font-size: 1em;
    }

    section.answers {
        position: static;
        max-width: none;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }


    div.tac {
        position: relative;
        top: initial !important;
        left: initial !important;
        max-width: 60%;
        /*min-height: 100px;*/
        /*margin: auto;*/
        /*margin-top: calc(3 * 1.2em);*/
        margin-bottom: 1.2em;
    }

    div.tac.article,
    div.tac.témoignage {
        max-width: 50%;
        margin-bottom: 1.2em;
    }

    div.tac.article h3,
    div.tac.témoignage h3 {
        font-size: 1.6vmax;
    }

    div.tac path + path {
        /*display: none;*/
    }


    section.articles{
      width: 98%;
      margin: 0 auto;
      overflow: inherit;
      text-align: center;
    }

    div.article,
    div.témoignage {
      margin-top: 0.8vmax;
      margin-bottom: 0.8vmax;
      display: block;
      top: inherit !important;
      position: relative;
      margin: 0 auto;
      border: 3px solid black;
    }

    div.bubble-content {
        padding: 2.4em;
    }

    div.answer div.detail {
        font-size: 1em;
    }

    section.page-article,
    section.page-témoignage {
        width: 100%;
    }
    section.page-article section.question,
    section.page-témoignage section.question {
        width: calc(100% - 10px);
        margin: auto;
        box-sizing: border-box;
    }
    section.page-article section.question .bubble-content,
    section.page-témoignage section.question .bubble-content{
        width: 100%;
        background-color: white;
        margin-top: 86px;
        margin-bottom: 8vmax; /* 5 * font-size */
        box-sizing: border-box;
    }
    section.page-article section.question h2,
    section.page-témoignage section.question h2 {
        font-size: 0.75em;
        line-height: 1em;
        max-width: none;
    }
    section.page-article section.question .detail,
    section.page-témoignage section.question .detail {
        width: initial;
        padding-bottom: initial;
    }
    a.navig-link {
        margin-left: -1em;
    }
    section.page-article section.question .detail p,
    section.page-témoignage section.question .detail p {
        font-size: 1.6vmax;
        line-height: 1.2em;
    }
    section.page-témoignage .question h2:before {
        font-size: 0.75em;
    }

    div.bubble-content + div.answer--form {
        display: block;
    }



}

/* D E S K T O P */
@media only screen and (min-width: 767px) {
}


/* H U G E    S C R E E N */
@media only screen and (min-width: 1281px) {
    :root {
        --font-size: 1.5vmax;
        --line-height: 1.2em;
    }
}
