@media only screen and (max-width: 767px) {

	html, body{
		overflow: auto;
	}
	html{
		overflow-x: hidden;
	}
  section.page {
    width: 100vw;
    min-height: none;
		height: auto;
    display: block;
		position: relative;
    /*flex-wrap: wrap;*/
		/*padding-top: calc(var(--line-height) * 2);*/
		padding-top: 0;
  }
	section.page:first-child .question h2 {
	    font-size: initial;
	    line-height: 1em;
	}
  section.q-and-a {
    max-width: 98%;
    margin: 0 auto;
  }
	section.page:first-child .question{
		/*padding: 1em;*/
	}
  section.question{
		/*margin-top: 25vh;*/
		/*position: relative;*/
		position: static;
		padding: var(--font-size) var(--line-height);
  }
	section.page:first-child .question h2, section.page:first-child .question p{
		max-width: 60vh;
	}
	section.question h2{
		margin-bottom: calc(var(--font-size) / 2);
		font-size: 0.75em;
		line-height: 1em;
	}
	section.question p{
		font-size: 0.75em;
		line-height: 1.25em;
	}
	div.question--bulle{
	}
	div.question--bulle svg{
		width: 95%;
		height: 95%;
	}
  section.answers{
        position: relative;
		/*position: static;*/
  }
  div.answer {
		/*position: relative;*/
		position: static;
    /*margin-top: calc(var(--font-size) / 2);*/
    /*margin-bottom: calc(var(--font-size) / 2);*/
		/*top: inherit !important;*/
		/*left: inherit !important;*/
		/*min-height: 20vh;*/
		/*margin-bottom: 100px;)*/
	}
	div.answer--bulle{
		//position: static;
	}
  section.articles{
    width: 98%;
    margin: 0 auto;
    overflow: inherit;
		text-align: center;
  }
  div.article{
    margin-top: calc(var(--font-size) / 2);
    margin-bottom: calc(var(--font-size) / 2);
		display: block;
		top: inherit !important;
		//left: inherit !important;
		position: relative;
		margin: 0 auto;
  }
	div.article + div.article{
		margin-top: calc(var(--line-height) * 3);
	}
}
