/* blank */


html, body{
    font-size:12px;
    font-family: Erbarre;
    width:100%;
    height:100%;
}

a{
    text-decoration:none;
    color:blue;

}
header{
    height:2rem;
    background:white;
    position:fixed;
    top:0;
    width:100%;
    border-bottom:2px solid black;
    line-height:2rem;
    font-size:1.5rem;
    padding-left:2rem;
    z-index:1000;
}

header .ui{
    display:inline;
}

header .ui:after{
    content:' – ';
    display:inline;

}
header .ui:last-child:after{
    content:'';
}

main{
    margin-top:2rem;
    width:100%;
    height:100%;
    position:relative;
}
main section.structure, main section.export-zone{
    position:relative;
    width:100%;
    height:100%;
}
.box{

    cursor:pointer;
    position:absolute;
    font-size:2rem;

    z-index:10;
}

.box.active{
     z-index:20;
}

.box .ui:hover, .box .ui.active{
    color:red;

}
.box .ui{
    cursor:pointer;
}


.box .watch{
    line-height:1.5rem;
    display:block;
    position:absolute;
    right:0;
    margin-right:-1.5rem;
    width:1.5rem;
    height:1.5rem;
    top:1.2rem;
    font-size:1.5rem;
    opacity:0.2;
}

.box .freq{
    line-height: 2rem;
    display: block;
    position: absolute;
    right: 4px;

    z-index: 10;
    font-size: 1.4rem;
    color: red;
}

.box .watch:before{
    content:'';
    background-image: url("/site/templates/images/eye.png");
    background-size: contain;
    width:15px;
    height:15px;
    display:block;
    background-repeat:no-repeat;


}
.box .watch[data-status='1']{
    opacity:1;
}


.box .connector:before{
    line-height:1rem;
    display:block;
    width:100%;
    content:'▾';

    text-align:center;



}

.box .connector[data-direction='out']:before{
    line-height:0.4rem;
}

.box .connector[data-direction='start']:before{
    content:'▿';
}

.box .inside{
    border:3px solid black;
    width:200px;
    min-height:4rem;
    padding:6px;
    background:rgba(255,255,255,0.7);
    position:relative;

}

.box.active .inside{
    border-color:red;
}

.box .inside .admin-url, .box .inside .public-url{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
    font-size:1.2rem;
    position:absolute;
    bottom:0;
    right:2px;


}
.box .inside .public-url{
    right:30px;
}
.box .inside .admin-url a, .box .inside .public-url a{
    color:black;
}
.box .inside .admin-url a:hover, .box .inside .public-url a:hover{
    color:red;
}
.box .inside .del{
    position:absolute;
    width:1rem;
    height:1rem;
    line-height:1rem;
    right:2px;
    top:0;


}
.box .inside .del:before{
    display:block;
    content:'×';
}
.box .inside .box-type{
    position: absolute;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    left: 2px;
    top: 2px;
    font-size: 1.4rem;
}
.box .inside .box-type[data-type='0']:before{
    font-size:1.2rem
    display:block;
    content:'?';
}
.box .inside .box-type[data-type='1']:before{
    display:block;
    content:'!';
}
.box .content{
    margin-top:1rem;
    word-wrap:break-word;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
.box .content textarea{
    width:100%;
    height:calc(100% - 1rem);
}
.edge{
     transform-origin: left center;
     height:3px;
     background:black;
     position:absolute;
     z-index:1;
}
.edge.active{
    background:rgba(0,0,0,0.2);
}


a.ui.expand{
    position:fixed;
    color:black;
    font-size:2rem;
    display:block;
    z-index:100;
    height:2rem;
    width:2rem;
    color:blue;
    line-height:3rem;
    text-align:center;
    transform-origin:center center;
}
a.ui.expand:after{
    content:'▲';
    display:inline;
}
a.ui.expand[data-direction='top']{
    top:2rem;
    left:50%;
    transform:translateX(-50%);
}

a.ui.expand[data-direction='right']{
    top:50%;
    right:0;
    transform:translateY(-50%) rotate(90deg);
}
a.ui.expand[data-direction='bottom']{
    bottom:0;
    left:50%;
    transform:translateX(-50%) rotate(180deg);
}
a.ui.expand[data-direction='left']{
    top:50%;
    left:0;
    transform:translateY(-50%) rotate(-90deg);

}
.trails{
    clear:both;

    margin-bottom:4rem;
}
.trails+.trails{
    border-top:3px solid black;
}
.trail{
    float:left;
    margin:1rem;
}
.trail .box{
    position:static;
    width:218px;
}
.trail .box .freq{
    display:none;
}
.trail .box:first-child .connector[data-direction='start']:before{
    display:none;
}

.trail .count{
    width:100%;
    font-size:3rem;
    text-align:center;
}
#data-process{
    z-index:100000;
    background:white;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

}
